<!doctype html>
<html data-ng-app="metasite" xmlns="http://www.w3.org/1999/html">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<script src="js/lib/angular.js"></script>
	<script src="js/lib/angular-route.js"></script>
	<script src="js/lib/ng-table.js"></script>
	<script src="js/app/app.js"></script>
	<script src="js/app/controllers.js"></script>
	<script src="js/app/services.js"></script>
	<script src="js/app/directives.js"></script>
	<link rel="stylesheet" href="css/lib/ng-table.css">
</head>
<body>
	<div data-ng-controller="AppController">
		<div id="mesage">{{message}}</div>
		<form id="inputForm">
			<label>Failo įkėlimas</label>
			<input type="file" data-file-model="file"/>
			<button data-ng-click="uploadFile()">Įkelti failą</button>
		</form>
		<form id="selectForm">
			<label>Žodžių pasirinkmas pagal pirmą raidę</label>
			<select data-ng-model="firstLetterInterval"
			        data-ng-options="firstLetterInterval.value as firstLetterInterval.name for firstLetterInterval in firstLetterIntervalList"
			        data-ng-change="firstLetterIntervalChange()">
			</select>
		</form>
		<table data-ng-table="tableParams" class="table">
			<tbody>
				<tr data-ng-repeat="word in $data">
					<td data-title="'Žodis'">{{word.value}}</td>
					<td data-title="'Kartojimosi dažnis'">{{word.count}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>